@import "~bootstrap/scss/bootstrap";

.form {
    width: 100%;
    label {
        color: $secondary !important;
        &::after {
            background-color: $dark !important;
        }
    }

    .form-control {
        border: $info 1px solid;
        background-color: $dark;
        color: white;
        box-shadow: 0px -2px 12px 6px rgba(0, 0, 0, 0.24);
        &:focus {
            background-color: $dark;
            color: white;
        }
    }

    .btn {
        background-color: $secondary;
        color: black;
        &:hover {
            background-color: darken($secondary, 7%);
            color: black;
        }
    }
}
