.mainContainer{
    &__banner{
    background : rgba(0, 0, 0, 0.25) no-repeat url("../../assets/BannerImage.png");
    height: 80vh;
    background-size: cover;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-position: 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
        &--title{
            margin-left: 16%;
            font-size: 3em;
        }
        &--subtitle{
            margin-left: 16%;
            color: white;
            font-size: 2em;
        }
        @media (max-width: 500px) {
            &--title{
                font-size: 2.5em;
                margin-left: 5%;
            }
            &--subtitle{
                font-size: 1.5em;
                margin-left: 5%;
            }
        }
    }
    &__skills{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        padding: 3.3% 0 2% 0;
        align-items: center;
        justify-content: space-between;
        &--skillsContainer{
            display: flex;
            flex-direction: row;
            gap: 5%;
        }
        @media (max-width: 1300px) {
            width: 95%;
            &--skillsContainer{
                display: flex;
                flex-direction: column;
            }
        }
    }
    &__projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3.3% 0 2% 0;
        &__projectsContainer{
            width: 80%;
            margin: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 50px;
            padding-left: 0;
            @media (max-width: 500px) {
                width: 85%;
            }
            &--project{
                list-style-type: none;
            }
        }
    }
    &__contact{
        display: flex;
        padding: 3.3% 0 2% 0;
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: 80%;
    }
}
