.card{
    min-height: 540px;
    &__image{
        height: 250px;
        overflow: hidden;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
    &__body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 !important;
        &--title{
            background-color: black;
            color: white !important;
            font-size: 1.4em;
            padding-left: 5%;
        }
        &--description{
            padding: 2% 5% 0 5%;
        }
        &--linkDiv {
            padding: 5%;
            &--logo{
                height: 25px;
            }
        }
    }
}

.modal{
    &__body{
    height: 750px;
    overflow-y: scroll;
    overflow-x: hidden;
    }
    &__sliderControl{
        display: flex;
        flex-direction: row;
        width: 85%;
        justify-content: space-around;
        &--imageCounter{
            line-height: 38px;
            margin: 0;
        }
    }
}