@import '~bootstrap/scss/bootstrap';

.card{
    min-height: 560px;
    border: none !important;
    box-shadow: 0px 0px 12px 9px rgba(0,0,0,0.24);
    &__image{
        height: 250px;
        overflow: hidden;
        width: 100%;
        object-fit: cover;
        object-position: top;
        cursor: pointer;
        &:hover{
            box-shadow: 0px 0px 9px -1px #000000;
            filter: brightness(80%);
        }
    }
    &__body{
        padding: 3% 7% !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: darken($primary, 2%);
        &--title{
            color: $secondary !important;
            font-size: 1.4em;
            align-self: flex-start;
        }
        &--description{
            color: white;
        }
        .SkillsContainer__badgesList{
            justify-content: center;
            &--skill{
                flex: none;
            }
        }
        &--linkDiv {
            display: flex;
            gap: 8px;
            margin-top: 3%;
            &--logo{
                height: 25px;
            }
            &--link{
                color: white;
                text-decoration: none;
                font-style: italic;
                &:hover{
                    color: $secondary;
                }
            }
        }
    }
    @media (max-width: 500px) {
        width: 100% !important;
        min-height: 400px;
        &__image{
            height: 180px;
        }
        &__body{
            padding: 2% 5% !important;
            &--title{
                font-size: 1.2em;
            }
            &--description{
                font-size: 1em;
                font-weight: 400;
            }
            &--linkDiv{
                &--logo{
                    height: 20px;
                }
                &--link{
                    font-weight: 400;
                    font-size: .9em;
                }
            }
        }
    }
    @media (max-width: 600px) {
        .smallBadge__picture{
            height: 20px;
        }
        .smallBadge__title{
            font-size: .8em;
            font-weight: 400;
        }
    }
}

.modal{
    &__body{
    height: 75vh;
    padding: 0 !important;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }
        @media(max-width: 1200px){
            align-items: center;
        }
        @media(max-width: 1000px){
            height: 50vh;
        }
        @media(max-width: 500px){
            height: 35vh;
        }
    }
    &__footer{
        &__sliderControl{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            &--buttonLogo{
                color: $secondary;
            }
            &--indicators {
                display: flex;
                gap: 10px;
                &--indicator{
                    width: 10px;
                    height: 10px;
                    background-color: $primary;
                    border-radius: 50%;
                    transition: all 0.3s ease;
                    &.active {
                        background-color: darken($secondary, 20%);
                    }
                }
            }
        }
    }
}