@import '~bootstrap/scss/bootstrap';

.nav-link{
    &:hover{
        color: darken($secondary, 15%) !important;
    }
}

.nav-link.active{
    color: darken($secondary, 15%) !important;
}

.navbar-toggler{
    background-color: $secondary !important;
    &:hover{
        filter: brightness(90%) !important;
    }
}

.navbar-brand{
    padding: 0 !important;
}