@import '~bootstrap/scss/bootstrap';

*{
    font-family: 'GothamPro';
    font-weight: 400;
}

#root {
    background-color: $primary;
    background-image: url('./assets/background.webp');
    background-size: cover;
    background-blend-mode: multiply; 
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
}

h1, h2, h3 {
    color: $secondary;
}

h2 {
    margin-bottom: 2%;
    @media (max-width: 800px) {
        margin-bottom: 5%;
    }
    @media (max-width: 800px) {
        margin-top: 5%;
    }
}